/* === Common styles== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 48px;
  padding-bottom: 48px;
}
/*==Header==*/
.page-header {
  border-bottom: 1px;
  border-color: #e7e9fc;
  border-style: solid;
}
.container-style {
  display: flex;
  justify-content: space-between;
}
/*.header-container {
  display: flex;
  justify-content: space-between;
}*/
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu,
.menu-adress-link,
.menu-item {
  list-style-type: none;
}
.menu-adress-header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration: none;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-adress-header {
  font-style: normal;
}
.menu-adress-item {
  display: flex;
  column-gap: 40px;
}

/*.menu-adress-link {
  list-style-type: none;
}*/
.menu-adress-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.menu-adress-description:hover,
.menu-adress-description:focus {
  color: #404bbf;
}
/* === Hero == */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  height: 600px;
}
.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.main-title-header {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
/* === Button == */
.btn-order {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 4px;
  margin: auto;
}
.btn-order:hover,
.btn-order:focus {
  background: #404bbf;
  color: #fff;
}

/*==Feature==*/
.feature-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-main-header {
  display: none;
}
.feature-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
.feature-item-list {
  width: calc((100% - 72px) / 4);
}
.feature-header {
  width: 264px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /*color: #434455;*/
}

/*==Ourteam==*/
.light-bg {
  background-color: #f4f4fd;
  height: 732px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-top: 72px;
  gap: 24px;
}
.team-item-list {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding: 32px 0;
}
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  text-align: center;
}
.team-decription {
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*====Our Portfolio===*/
.portfolio {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
  border-bottom: 1px;
}
.portfolio-item-list {
  background: #fff;
  width: calc((100% - 48px) / 3);
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /*color: #434455;*/
}
.page-footer {
  background: #2e2f42;
  height: 312px;
  padding: 100px 0;
}
.footer-decor {
  padding-left: 156px;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
